// Body
$body-bg: #f8fafc;
$color-azul-claro: #E5EAFA;
$color-gris-claro: #707070;
$color-azul: #020122;
$color-naranja: #BF4E30;
$color-rojo: #c1121f;
$color-blanco: #FFFFFF;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

@mixin sombra($color) {
    -webkit-box-shadow: 0px 0px 152px -5px $color;
    -moz-box-shadow: 0px 0px 152px -5px $color;
    box-shadow: 0px 0px 152px -5px $color;
}

#app-clear{
    margin-top: 50px;
    background-color: $color-azul;
}
